@font-face {
    font-family: 'Bebas Neue';
    src: url(/fonts/BebasNeueRegular.woff);
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Bebas Neue';
    src: url(/fonts/BebasNeueBook.woff);
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'TTNorms';
    src: url(/fonts/TTNorms-Regular.woff);
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Fira Sans';
    src: url(/fonts/FiraSansLight.woff);
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

body {
    margin: 0;
    background-color: rgb(246, 246, 246);
}

.container {
    max-width: 1140px;
    margin: 0 auto;
    padding: 0 15px;
}

.list-reset {
    list-style: none;
    padding: 0;
    margin: 0;
}

.title-default {
    font-size: 56px;
    color: #333333;
    font-family: 'Bebas Neue', cursive;
    text-transform: uppercase;
    line-height: 62px;
    font-weight: 500;
    margin: 0;
}

.title-default::after {
    content: '';
    width: 100%;
    height: 1px;
    display: block;
    width: 50%;
    margin: 0 auto;
    margin-top: 12px;
    background-color: rgba(0, 0, 0, 0.1);
}

.title-default__acsent {
    color: rgb(232, 75, 72);
}

.title-default--center {
    text-align: center;
}

.text-default {
    font-family: 'TTNorms';
    font-size: 17px;
    color: #333333;
    line-height: 22px;
    text-transform: uppercase;
}

.text-default__acsent {
    color: rgb(238, 29, 36);
}

.btn {
    font-family: 'Fira Sans';
    font-size: 13px;
    line-height: 19px;
    color: #fff;
    font-weight: 400;
    background-color: rgb(209, 121, 174);
    padding: 14px 28px;
    text-decoration: none;
    text-transform: uppercase;
    display: inline-block;
    border-radius: 5px;
    letter-spacing: 0.1em;
}

.btn--blue {
    background-color: rgb(147, 187, 224);
}

.btn--silk {
    background-color: rgb(200, 186, 172);
}

.btn--azure {
    background-color: rgb(109, 204, 195);
}

.btn__fa {
    font-size: 17px;
    margin-right: 7px;
}

.lesson {
    padding: 80px 0;
}

.lesson__title {
    margin-bottom: 16px;
}

.lesson__text {
    max-width: 524px;
    text-align: center;
    margin: 0 auto;
    margin-bottom: 74px;
}

.lesson__item {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    background-color: #fff;
    box-shadow: 0px 2px 5px 0px rgb(0 0 0 / 25%);
    border-radius: 20px;
    padding: 62px 80px 62px 80px;
    gap: 90px;
}

.lesson__item:not(:last-of-type) {
    margin-bottom: 40px;
}

.lesson__image {
    grid-column: 4 span;
    width: 300px;
    height: 320px;
    object-fit: cover;
    align-self: center;
}

.lesson__item-text {
    grid-column: 8 span;
    text-align: start;
}

.lesson__caption {
    font-family: 'Bebas Neue';
    font-size: 48px;
    text-transform: uppercase;
    line-height: 53px;
    color: #333333;
    margin-bottom: 8px;
}

.lesson__name {
    font-family: 'Bebas Neue';
    font-weight: 300;
    font-size: 28px;
    line-height: 31px;
    color: #333333;
    text-transform: uppercase;
    margin: 0;
    margin-bottom: 24px;
}

.lesson__name::after {
    content: '';
    background-color: rgba(0,0,0,0.1);
    width: 50%;
    height: 1px;
    display: block;
    margin-top: 10px;
}

.lesson__descr {
    font-family: 'Fira Sans';
    font-size: 16px;
    line-height: 1.6;
    color: #333333;
    opacity: 0.7;
    font-weight: 300;
    margin: 0;
    margin-bottom: 48px;
}

.lesson__image--reverse {
    order: 2;
}

.lesson__item-text--reverse {
    order: 1;
    text-align: end;
}

.lesson__name--reverse::after {
    margin-left: auto;
}